@keyframes checkboxItemActive {
  from {
    background-color: #F5F5F5;
    margin-left: 2px;
  }
  to {
    background-color: white;
    margin-left: 18px;
  }
}

@keyframes checkboxActive {
  from {
    background-color: #EBEBEB;
  }
  to {
    background-color: #2BE080;
  }
}

@keyframes checkboxItemInActive {
  from {
    background-color: white;
    margin-left: 18px;

  }
  to {
    background-color: #F5F5F5;
    margin-left: 2px;
  }
}

@keyframes checkboxInActive {
  from {
    background-color: #2BE080;

  }
  to {
    background-color: #EBEBEB;
  }
}

.search-form {
  background-color: #E0FFFF;
}

@media screen and (max-width: 740px){
  .search-form {
    padding: 80px 0 10px 0;
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form {
    padding: 80px 0 10px 0;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form {
    padding: 70px 0 10px 0;
  } 
}

.search-form__block {
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 740px){
  .search-form__block {
    max-width: 300px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form__block {
    max-width: 708px;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form__block {
    max-width: 1140px;
  } 
}

.search-form__block-input {
  display: flex;
  align-items: center;
  margin-left: 19px;
  width: 100%;
}

@media screen and (max-width: 740px){
  .search-form__icon {
    display: none;
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form__icon {
    margin-right: 10px;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form__icon {
    margin-right: 10px;
  } 
}

.search-form__input {
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;  
}

.search-form__reset {
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s;
  margin-right: 5px;
}

.search-form__reset:hover {
  opacity: 1;
}

.search-form__reset_inactive {
  display: none;
}

.search-form__search {
  padding: 0;
  background: #3456F3;
  border-radius: 48px;
  min-width: 80px;
  height: 34px;
  border: none;
  outline: none;
  background-image: url('../../images/search-form__search.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s;
  margin-right: 19px;
}

.search-form__search:hover {
  opacity: 0.85;
}

.search-form__form {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 740px) {
  .search-form__form {
    justify-content: center;
    margin-top: 45px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form__form {
    border-left: 1px solid #CBCBCB;
    min-height: 40px;
    justify-content: space-between;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form__form {
    border-left: 1px solid #CBCBCB;
    min-height: 40px;
    justify-content: space-between;
  } 
}

.search-form__checkbox {
  background-color: #EBEBEB;
  border-radius: 20px;
  width: 36px;
  height: 20px;
  cursor: pointer;
  display: grid;
  align-items: center;
  transition: 0.5s;
}

@media screen and (max-width: 740px) {
  .search-form__checkbox {
    margin-right: 13px;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form__checkbox {
    margin: 0 15px 0 19px ;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form__checkbox {
    margin: 0 14px 0 29px;
  } 
}

.search-form__checkbox_active {
  background-color: #2BE080;
}

/*.search-form__checkbox_active {
  animation: checkboxActive 0.5s forwards;
}

.search-form__checkbox_inactive {
  animation: checkboxInActive 0.5s forwards;
}*/

.search-form__checkbox-item {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #F5F5F5;
  margin: 0 2px;
  transition: 0.5s;
}

.search-form__checkbox-item_active {
  background-color: white;
  margin-left: 18px;
}

/*.search-form__checkbox-item_active {
  animation: checkboxItemActive 0.5s forwards;
}

.search-form__checkbox-item_inactive {
  animation: checkboxItemInActive 0.5s forwards;
}*/

.search-form__checkbox-title {
  white-space: nowrap;
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;  
  line-height: 18px;
}

@media screen and (max-width: 740px) {
  .search-form__checkbox-title {
    font-size: 11px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form__checkbox-title {
    font-size: 13px;
    margin: 0 20px 0 0;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form__checkbox-title {
    font-size: 13px;
    margin: 0 30px 0 0;
  } 
}

.search-form__border {
  border-top: 1px solid #E8E8E8;
  margin: auto;
  min-height: 10px;
}

@media screen and (max-width: 740px){
  .search-form__border {
    max-width: 300px;
    margin-top: 44px;
  }
}

@media screen and (min-width: 740px) and (max-width: 1262px){
  .search-form__border {
    max-width: 708px;
    margin-top: 109px;
  } 
}

@media screen and (min-width: 1262px) {
  .search-form__border {
    max-width: 1140px;
    margin-top: 69px;
  } 
}

.search-form__filter-overlay {
  padding: 0 20px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 320px;
  margin: auto;
}
@media screen and (max-width: 740px){
  .search-form__filter-overlay{
    padding-top: 30px;
  }
}

.search-form__filter-text {
  white-space: nowrap;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;  
  line-height: 18px;
  font-size: 18px;
}

.search-form__filter-select {
  white-space: nowrap;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;  
  line-height: 18px;
  border-radius: 6px;
  outline: none;
  background-color: white;
  border: 1px solid #3456F3;
}